streamlit
python-dotenv
PyPDF2
faiss-cpu
reportlab
markdown2
youtube-transcript-api
google
groq
transformers
google-generativeai

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-google-genai==1.0.6
langchain-groq==0.1.9
