streamlit==1.31.0
google-generativeai==0.3.2
python-dotenv==1.0.0
langchain==0.1.0
PyPDF2==3.0.1
faiss-cpu==1.7.4
langchain-google-genai==0.0.6
youtube-transcript-api==0.6.1
reportlab==4.0.7
langchain-community==0.0.13
groq==0.4.2
langchain-groq==0.0.1
markdown2==2.4.12